@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Riot&family=Sixtyfour&display=swap");

body {
  background-image: url(bg2.jpg);
}
header {
  text-align: center;
  justify-content: center;
  background-image: url(bg.jpg);
  padding-bottom: 30px;
}
.foto {
  margin-top: 35px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px white;
}
.dum {
  color: white;
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: "Sixtyfour", sans-serif;
  text-shadow: 3px 3px black;
}
.pesan {
  color: white;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px black;
  margin-bottom: 20px;
}
.wa {
  background-color: green;
  padding: 6px 12px;
  color: white;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  text-shadow: 2px 3px black;
  margin-top: 10px;
}
.wa:hover {
  background: red;
}
.content {
  margin-top: 40px;
}
.col-sm-3 {
  margin: 40px;
}
.isi {
  text-decoration: none;
  padding: 6px 12px;
  color: white;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: #1c4040;
  padding: 6px 12px;
  border-radius: 6px;
  text-shadow: 2px 3px black;
}
.isi:hover {
  background-color: red;
}
